
.form-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    gap: 1rem;
    width: 400px;
    margin-top: 50px;
}

/* ------ Card Front ------- */
.card-front {
    grid-row: 1/4;
    grid-column: 1/4;
    width: 300px;
    height: 190px;
    border-radius: 10px;
    border: #DDDDDD;
    background-color: #DDDDDD;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
}

.card-front .card-image {
    grid-column: 3/-1;
    grid-row: 1/2;
    justify-self: right;
    
}

.card-number {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
}

.card-number input {
    width: 95%;
    height: 25px;
}

.card-holder {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
}

.card-holder input {
    height: 25px;
}

.card-expiration {
    grid-column: 3/4;
    grid-row: 3/4;
}

.card-expiration input {
    width: 35px;
    height: 25px;
}




/* ------ Card Back ------- */

.card-back {
    grid-row: 2/4;
    grid-column: 2/-1;
    width: 300px;
    height: 190px;
    border-radius: 10px;
    border: #DDDDDD;
    background-color: #DDDDDD;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* gap: 10px; */
}

.cvc {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    /* background-color: yellowgreen; */
    text-align: right;
}

#cvc-cvv {
    width: 60px;
    height: 25px;
}


.stripe {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: black;
    height: 40px;
    width: 110%;
    margin-top: 10px;
    margin-left: -10px;
}

/* submit button  */

.submit-btn {
    grid-column: 3/4;
    grid-row: -2/-1;
    width: 100px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}