@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

:root {
 --primary-color: #dc770b;
 --secondary-color: #ebebeb;
 --text-dark: #333;
 --text-light: #ffffff;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Atma", cursive;
}

/* ***** General Styles ***** */

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--text-dark);
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

header {
    display: flex;
    justify-items: flex-end;

   
}

.logo {
    max-width: 20%;
    height: 20%;
    padding: 1rem;
}

header h1 {
    align-self: end;
    font-size: 4vh; 
    margin: 0;
    color: var(--text-dark);
}

/* search bar */
.search-bar {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: solid 2px var(--text-dark);
    width: 100%;
}

.search-bar input {
    padding: 0.6rem;
    font-size: 1rem;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem 0 0 0.5rem;
    justify-content: center;
}

.search-bar button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--text-light);
    border: 2px solid var(--primary-color);
    color: var(--text-light);
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    margin-right: 2rem;
}


/* ***** Recipe Cards ***** */
.recipe-card {
    border: solid 2px var(--text-dark);
    border-radius: 0.5em;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.recipe-card img {
    margin-bottom: 1rem;
}


/* *****Footer***** */

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.flaticon {
    font-size: 0.6em;
    color: var(--primary-color);
}

.social img {
    width: 3rem;
    height: 3rem;
    
}

@media screen and (min-width: 600px) {

    header {
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        width: 15%;
    }   
    
    .recipe-card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    img {
        max-width: 50%;
        height: auto;
    }


    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 960px) {

    .logo {
    max-width: 10%;
    height: 10%;
    padding: 1rem;
    }

     img {
        max-width: 25%;
        height: auto;
    }
}