@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #832cbc;
    --accent-color: #EFC69B;
    --text-color: #1b083b; 
    --headings-font: 'Cantora One', 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 , h2  {
  font-family: var(--headings-font);
}

h1 {
  text-align: center;
  padding: 20px;
  color: var(--text-color);
}

h2 {
  color: var(--primary-color);
  margin: 0px;
}

nav {
  font-family: var(--headings-font);
  color: var(--primary-color);
  line-height: 2.5rem;
  border-top: var(--accent-color) 1px solid;
  border-bottom: var(--accent-color) 1px solid;
}

ul {
  list-style-type: none;
  margin: 0px;
}

nav a{
    color: var(--primary-color);
}

nav ul {
    display: flex;
    justify-content: end;
    justify-items: end;
    gap: 2rem;
    padding: 0px;
    margin: 10px;
}




#maincontent {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.filter{
    grid-column: 2 / 3;
    border: var(--accent-color) 1px solid;
    padding: 1rem;
}

article {
    display: grid;
    grid-template-columns: 30% 3fr;
    margin-bottom: 1rem;;
}

.skiptocontent {
    position: absolute;
    top: -40px;
}

.skiptocontent a:focus {
    top: 0;
}

.date {
  text-align: right;
  padding: 1rem;
  font-size: 1.2rem;
  border-right: var(--accent-color) 1px solid;
}

.date p {
    margin: 0px;
}

main {
    margin-top: 20px;
  }

.post-content {
    padding: 1rem;
  }  

.post-content img {
    
    margin: 0 auto;
  }  

  figure {
    display: flex;
    align-items: center;
  }